body{
	font-family: Arial, Helvetica, sans-serif;
}

.row{
	border-bottom: 1px solid #ccc;
	padding: 10px;
	overflow: auto;
}

.clear{
	clear: both;
}

.col{
	float: left;
	display: inline-block;
	width: 20%;
}

.inputData{
	float: left;
	display: inline-block;
	width: 50%;
}

.head {
	text-align: center
}

.row-title{
	padding: 8px;
	background-color: black;
	color: #FFF;
	font-weight: bold;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
	border-radius: 40px; 
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}